<Configuration status="info">

    <Properties>
        <Property name="LOG_DIR">/app/logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <CustomPatternLayout pattern="%d{dd MMM yyyy HH:mm:ss,SSS} %-5p [%t] (%C.%M:%L) %equals{%x}{[]}{} - %m%n"/>
        </Console>

        <RollingFile name="LogFile" fileName="${LOG_DIR}/${LOG_FILE}"
                     filePattern="${LOG_DIR}/${LOG_FILE}.%d{yyyyMMdd}-%i">
            <CustomPatternLayout pattern="%d{dd MMM yyyy HH:mm:ss,SSS} %-5p [%t] (%C.%M:%L) %equals{%x}{[]}{} - %m%n"/>
            <Policies>
                <!-- Roll when the file reaches 100MB -->
                <SizeBasedTriggeringPolicy size="200 MB"/>
            </Policies>
            <DefaultRolloverStrategy min="1" max="50"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>